<h1>Data Sources</h1>

<p>
  <%= link_to "Register source", new_data_source_path %>
  <%= link_to "Source health", source_health_path %>
  <%= link_to "BFS quality summary", bfs_quality_review_path %>
  <%= link_to "SUSB quality summary", susb_quality_review_path %>
  <%= button_to "Sign out", session_path, method: :delete %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Status</th>
      <th>Storage</th>
      <th>Privacy</th>
      <th>Claim status</th>
    </tr>
  </thead>
  <tbody>
    <% @data_sources.each do |source| %>
      <tr>
        <td><%= link_to source.name, source %></td>
        <td><%= source.source_kind %></td>
        <td><%= source.source_status %></td>
        <td><%= source.storage_zone %></td>
        <td><%= source.privacy_classification %></td>
        <td><%= source.claim_status_allowed %></td>
      </tr>
    <% end %>
  </tbody>
</table>
